FrameworkTest.xcodeproj/project.xcworkspace
FrameworkTest.xcodeproj/xcuserdata
FrameworkTest.xcworkspace/contents.xcworkspacedata
FrameworkTest.xcworkspace/xcuserdata
Podfile.lock
.DS_Store
**/.DS_Store
Pods